body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: inherit;
}

main {
  flex: 1;
}

.col1, .col2, .col3 {
  display: flex;
  padding: 1em;
}

.container {
  display: flex;
  height: 100%;
}

.col1 {
  flex-basis: 240px;
}

.col2 {
  flex: 1;
  background-color: #eee;
}

.col3 {
  flex-basis: 180px;
  flex-shrink: 0;
  flex-grow: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container>div {
  display: flex;
  flex: 0 0 250px;
  background-color: white;
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card-container>div p {
  padding: .5rem 1rem;
}

.card-container>div img {
  border-radius: 10px 10px 0 0;
}

html {
  height: 100%;
}